h1,h2,p,ul,li,a{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu h2 {
    align-self: start;
}

.nav {
    display: flex;
    gap: 60px;
}

.nav a{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}



/* home */

#home{
    display: grid;
    margin: 40px;
    gap: 20px;
    text-align: center;
}

.foto {
    width: 400px;
    justify-self: center;
    
}

/* sobre */
#sobre{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
}

/* linguagens */
#linguagens {
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
}

.linguagens-programacao{
    display: flex;
    gap: 20px;
    border: 1px solid red;
    padding: 10px 20px;
}

.linguagens-programacao li {
    align-items: center;
}




