h1,h2,p,ul,li,a,span{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: aliceblue;
}

a{
    text-decoration: none;
    /* color: white;*/
} 

h2 {
    text-align: center;
    margin-bottom: 40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
     
     background-image: url(img/20200909175214828.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
}

.menu{
    display: flex;
    justify-content: start;
    margin: 40px
}


.nav {
    display: flex;
    gap: 60px;
}

.nav a{
    
    padding: 10px;
    border-radius: 4px;
}
.nav a:hover{
    border: 2px solid red;
    
}



/* home */

#home{
    display: grid;
    margin: 40px;
    gap: 20px;
    text-align: center;
}

.foto {
    width: 400px;
    
    
}

/* sobre */
#sobre{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
}

/* linguagens */
#linguagens {
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
}

.linguagens-programacao{
    display: flex;
    gap: 20px;
    border: 1px solid red;
    padding: 10px 20px;
}

.linguagens-programacao li {
    align-items: center;
}




