h1,h2,p,ul,li,a,span{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* color: aliceblue; */
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white;*/
} 

h2 {
    text-align: center;
    margin-bottom: 40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 1600px;
    background: #f7f7f7;
    background-image: linear-gradient(#000428,#004e92);
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

/* header */
.menu{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    font-size: 1.5rem;
    
    background: rgba(0, 0, 255, 0.39);
    border-radius: 4px;
    position: fixed;
    top: 0px;
    z-index: 1;
    
}

.menu h2 {
    align-self: start;
}

.nav {
    display: flex;
    gap: 60px;
}

.nav a{
    display: block;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.nav a:hover{
    border-bottom: 2px solid red;
    
}


/* home */

#home{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 85px;
    color: #f7f7f7;
    gap: 20px;
    justify-items: center;
    /* text-align: center; */
}

.apresentacao {
    align-self: center;
    
}

.apresentacao .saudacao {
    text-align: start;
    color: chartreuse;
    font-size: 1rem;

}

.apresentacao p{
    text-align: start;
    font-size: 2.5rem;
}

.apresentacao .profissao{
    font-size: 1rem;
    margin-bottom: 20px
}

.foto img{
    position: relative;
    left: 155px;
    width: 500px;
    height: 300px;
    border-radius: 10%;
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
}

.botao {
    /* position: relative;
    right: 145px; */
    
    background: lime;
    color: #000428;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: .2s;
}

.botao:hover {
    font-size: .9rem;
    
}

@media (max-width: 990px) {
   .botao{
    display: block;
    margin-bottom: 10px;
   }
}



/* sobre */
#sobre{
    display: grid;
    grid-template-columns: 1fr;
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
    color: #f7f7f7;
    justify-content: center;
    box-shadow: 0px 0px 15px white ;
}

#sobre dt {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}

#sobre dd {
    text-indent: 3rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    line-height: 25px;
}

/* linguagens */
#linguagens {
    display: grid;
    grid-template-columns: 1fr;
    color: #f7f7f7;
    font-size: 3rem;
    text-align: center;
    
}

.linguagens-programacao{
    display: flex;
    gap: 20px;
    /* box-shadow: 0px 0px 15px white ; */
    padding: 10px 20px;
    justify-content: center;
}


.linguagens-programacao li img{
    max-width: 60px;
    margin-right: 60px;
    box-shadow: 0px 0px 15px white ;
    
}

.linguagens-programacao li img:hover{
    padding: 10px;
}

.linguagens-programacao li .vue{
    width: 30.5rem;
}

/* projetos */

#projetos{
    text-align: center;
    font-size: 3rem;
    color: #f7f7f7;;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
    color: #f7f7f7;
    justify-content: center;
}

.projetos img{
    max-width: 100%;
    display: block;
    height: 400px;
    width: 500px;
    box-shadow: 0px 0px 15px rgba(165, 250, 7, 0.856);
    
}

.projetos img:hover{
    transition: .2s;
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

/* contato */
#contato{
    display: grid;
    grid-template-columns: auto;
    
}

#contato h3 {
    font-size: 3rem;
    color: #f7f7f7;
    margin: 20px;
}

.contato{
    display: grid;
    grid-template-columns: 300px auto 1fr;
    color: #f7f7f7;
}

.contato img {
    max-width: 100%;
    height: 200px;
}

.contato ul {
    grid-column: 3;
}

.contato ul li img {
    max-width: 100%;
    height:60px;
}
.contato ul li {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

/* footer */

/* scroll */

.section{
    opacity: 0;
    transform: translate3d(-30, 0, 0);
}

.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .3s;

}

@keyframes slide{
    from{
        opacity: 0;
        transform: translate3d(-30, 0, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}



